version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Europe/Oslo
    open-pull-requests-limit: 10
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: npm
    versioning-strategy: increase
    directory: "/next-app"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Europe/Oslo
    open-pull-requests-limit: 10
    groups:
      npm-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "flowbite-react"
      - dependency-name: "tailwindcss"

  - package-ecosystem: pip
    versioning-strategy: increase
    directory: "/backend-python"
    schedule:
      interval: daily
      time: "03:00"
      timezone: Europe/Oslo
    open-pull-requests-limit: 10
    groups:
      poetry-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
      timezone: Europe/Oslo
    open-pull-requests-limit: 10
    groups:
      github-actions-dependencies:
        patterns:
          - "*"
