logging:
  structured:
    format:
      console: logstash

spring:
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate.ddl-auto: none
    show-sql: true
    properties:
      hibernate.default_schema: vicx

oauth:
  access-token-time-to-live: PT5M
  refresh-token-time-to-live: PT1H
