server:
  servlet:
    context-path: /backend-spring-boot

logging:
  level:
    root: INFO

app:
  calculator:
    rate: 300_000 # every 5 minutes
    max-age: PT6H

recaptcha:
  secret: ${RECAPTCHA_SECRET:6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe} # dev secret

auth-server:
  issuer-uri: ${OAUTH2_SERVER:http://localhost:9000/auth-server}

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 100KB

  cache:
    cache-names: GITHUB_TOKENS
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=3600s

  application:
    name: vicx-backend-spring-boot

  datasource:
    url: jdbc:h2:mem:testdb;CACHE_SIZE=2048
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    open-in-view: false
    hibernate.ddl-auto: create
    show-sql: false

  h2:
    console:
      enabled: false
      path: /h2-console

  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100

  flyway:
    enabled: false

management:
  server:
    port: 8082
#  health: # alternative, disable all and enable those required
#    defaults:
#      enabled: false
#    livenessstate:
#      enabled: true
#    readinessState:
#      enabled: true
#    db:
#      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always # to show all groups on localhost
      probes:
        enabled: true
      group:
        liveness:
          include:
            - livenessState
        readiness:
          include:
            - readinessState
            - db

springdoc:
  api-docs:
    version: openapi_3_1
  swagger-ui:
    oauth:
      clientId: "next-app-client"
      clientSecret: ${CLIENT_SECRET:secret}
  oAuthFlow:
    # noinspection SpringBootApplicationYaml
    authorizationUrl: ${OAUTH2_SERVER:http://localhost:9000/auth-server}/oauth2/authorize
    # noinspection SpringBootApplicationYaml
    tokenUrl: ${OAUTH2_SERVER:http://localhost:9000/auth-server}/oauth2/token
