[versions]
mockito = "5.14.2"
tika-core = "3.0.0"
springdoc-openapi = "2.7.0"

# Logging
logback-access-spring-boot-starter = "4.4.0"
logstash-logback-encoder = "8.0"
logback-classic = "1.5.12"

[libraries]
mockito = { module = "org.mockito:mockito-core", version.ref = "mockito" }
tika-core = { module = "org.apache.tika:tika-core", version.ref = "tika-core" }
springdoc-openapi = {module="org.springdoc:springdoc-openapi-starter-webmvc-ui", version.ref="springdoc-openapi"}

# logging
logback-access-spring-boot-starter = { module = "dev.akkinoc.spring.boot:logback-access-spring-boot-starter", version.ref = "logback-access-spring-boot-starter" }
logstash-logback-encoder = { module = "net.logstash.logback:logstash-logback-encoder", version.ref = "logstash-logback-encoder" }
logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "logback-classic" }