body {
    scroll-behavior: smooth;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://picsum.photos/3840/2160?random=1') center/cover no-repeat;
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.hero h1 {
    font-size: calc(2.5vw + 1rem);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.hero h1 span {
    animation: fadeInDown 1.5s;
}

.hero p {
    animation: fadeInUp 1.5s;
    font-size: 1.25rem;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    width: 100%;
}

.section {
    width: 100%;
    max-width: 800px; /* Limit the width of sections */
    margin: 20px 0; /* Add margin for spacing */
    text-align: center; /* Center text */
}

.list-group-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s;
    font-size: 1.25rem;
    background-color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
}

.list-group-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e9ecef;
}

.list-group img {
    max-width: 100px;
    margin-bottom: 10px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #adb5bd;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.match {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center; /* Center text */
}

.match h2 {
    margin: 0 0 10px;
}
