.grade {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    color: white;
}
.A { background-color: green; }
.B { background-color: blue; }
.C { background-color: orange; }
.D { background-color: gold; }
.E { background-color: purple; }
.Failed { background-color: red; }

/* Canvas for Chart */
#chartContainer {
    width: 70%;
    margin: auto;
    display: none; /* Hidden until user clicks 'Show Chart' */
}
