name: Build artifact and push

on:
  workflow_call:
    inputs:
      moduleName:
        description: "Application module name"
        required: true
        type: string

      buildWithGradle:
        description: If true, runs ./gradlew build
        required: false
        default: true
        type: boolean

env:
  IS_TAG_BUILD: ${{ startsWith(github.ref, 'refs/tags/') }}
  REGISTRY: ghcr.io

jobs:
  build-and-push-docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set docker image env var
        run: |
          printf "DOCKER_IMAGE=%s/%s/%s:%s\n" \
            "${REGISTRY}" \
            "${{ github.repository_owner }}" \
            "${{ inputs.moduleName }}" \
            "${{ env.IS_TAG_BUILD == 'true' && github.ref_name || format('main-{0}', github.event.pull_request.head.sha || github.sha) }}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Set up JDK 21
        if : ${{ inputs.buildWithGradle }}
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        if : ${{ inputs.buildWithGradle }}
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        if : ${{ inputs.buildWithGradle }}
        run: ./gradlew build -p ${{ inputs.moduleName }} --console=plain --no-daemon --info

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: ./${{ inputs.moduleName }}
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false # to avoid unknown/unknown
          tags: |
            ${{ env.DOCKER_IMAGE }}
            ${{ env.IS_TAG_BUILD == 'false' && format('{0}-gh{1}', env.DOCKER_IMAGE, github.run_id) || '' }}
