name: Build artifact and push

on:
  workflow_call:
    inputs:
      moduleName:
        description: "Application module name"
        required: true
        type: string

jobs:
  run-tests:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build -p ${{ inputs.moduleName }} --console=plain --no-daemon --info

#      - name: Dependency submission (for Dependabot)
#        uses: gradle/actions/dependency-submission@v4
